<!-- <ion-header [translucent]="true">
  <ion-toolbar>
 <ion-title>mainPage</ion-title> 
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-label class="head">Main Page</ion-label>
  <ion-grid class="grid">
    <ion-row class="item">
      <ion-col (click)="handleMasterType()" class="list">
        <ion-icon name="create"></ion-icon>
        <ion-col class="name">Master Type</ion-col>
      </ion-col>
      <ion-col (click)="handleAddItem()" class="list">
        <ion-icon name="bag-add"></ion-icon>
        <ion-col class="name">Item Master</ion-col>
      </ion-col>
      <ion-col (click)="handleCreateUser()" class="list">
        <ion-icon name="person-add"></ion-icon>
        <ion-col class="name">Add User</ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>