//--background: url('../../../assets/images/webBackground.png') no-repeat center center / cover;
ion-content {
    --background: url('../../../assets/images/webBackground.png') no-repeat center center / cover;
  
    .head {
        margin: 100px auto;
        width: 98vw;
        font-size: 2.2rem;
        color: white;
        background: #3dc2ff;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 24px;
        padding: 12px;
        border-radius: 20px;
        box-shadow: 5px;
        letter-spacing: 1px;
    }
  
    .grid {
      padding: 20px;
      
      .item {
        display: flex;
        justify-content: space-around;
        align-items: center;
  
        .list {
          flex: 1;
          margin: 10px;
          padding: 20px;
          background: linear-gradient(135deg, #dde2e2, #9dd5d6);
          border-radius: 10px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          text-align: center;
          transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
          cursor: pointer;
  
          &:hover {
            transform: translateY(-5px);
            background-color: #f0f0f0;
          }
  
          ion-icon {
            font-size: 2rem;
            color: #007bff;
            margin-bottom: 10px;
          }
  
          .name {
            display: block;
            font-size: 1.2rem;
            font-weight: 600;
            color: #333;
          }
        }
      }
    }
  }
  