<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main-page"></ion-back-button>
    </ion-buttons>
    <ion-title>Add User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="registerForm" (ngSubmit)="handleRegister()">
    <ion-list class="list">
      <ion-item class="header">Registration Form</ion-item>
      <ion-item>
        <ion-input formControlName="emp_id" label="EMP ID" label-placement="floating" fill="outline"
          placeholder="Enter EMP ID"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="name" label="Employee Name" label-placement="floating" fill="outline"
          placeholder="Enter Employee Name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="phone" label="Phone" label-placement="floating" fill="outline"
          placeholder="Enter Phone Number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-select class="select" fill="outline" formControlName="role" interface="popover"
          placeholder="select the role">
          <ion-select-option *ngFor="let data of role" [value]="data.role">{{data.role}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-input formControlName="user_name" label="User Name" label-placement="floating" fill="outline"
          placeholder="Enter User Name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="password" label="Password" label-placement="floating" fill="outline"
          placeholder="Enter Password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-select class="select" fill="outline" formControlName="is_active" interface="popover"
          placeholder="isActive">
          <ion-select-option [value]="1">Yes</ion-select-option>
          <ion-select-option [value]="0">No</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-label style="padding: 10px;color: rgb(94, 93, 93);">Notes : Usernames must be unique</ion-label>
      <ion-button expand="block" class="btn" [disabled]="registerForm.invalid" type="submit">Register</ion-button>
    </ion-list>
  </form>
</ion-content>